/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Base resource config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    cpus   = { 1    * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 1.h  * task.attempt }

    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    maxRetries    = 2

    withLabel: process_single {
        cpus   = { 2                   }
        memory = { 4.GB * task.attempt * task.attempt}
        time   = { 0.5.h  * task.attempt }
    }
    withLabel: process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 0.5.h   * task.attempt }
    }
    withLabel: process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 6.GB * task.attempt * task.attempt}
        time   = { 1.h   * task.attempt }
    }
    withLabel: process_highmem{
        cpus   = { 2     * task.attempt }
        memory = { 40.GB * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withLabel: process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel: process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel: error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}
